.card-block{
    z-index: 0;
    text-align: center;
    margin-bottom: 2rem;
   
}

#media-block{
     position: relative;
     text-align: left;
     padding-left: 2.3rem;
     
}



#card-heading{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    color: #1e827a;
  
}

#dish-heading{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-size: 3.7vw;
    font-weight: 600;
     color: #1e827a;
}

#dish-content{
    font-size: 3.0vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    filter: opacity(60%);
    width: 60%;
    position: absolute;
    top: 1.5rem;
    line-height: 3vh;
    
}



#dish-price{
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 600;
    filter: opacity(87%);
    position:absolute;
    color: #eea151;
    right: 0px;
     top: 1rem;
  
    
   
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* .card-block{
   margin-left: 2.5rem;
} */
#dish-content{
    width: 50%;
    line-height: 13px;
}
#dish-heading{
    font-size: 1.0rem;
    font-weight: 600;  
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}