/* HEX */
/* $color1: #48119cff;
$color2: #0a1128ff;
$color3: #f7f3e3ff;
$color4: #fe5f00ff;
$color5: #33312eff; */
/* #611BE7 */
@font-face {
  font-family: logotxt;
  src: url("./GoodVibration Script.ttf");
}

.nav-bar {
  font-family: "Roboto", sans-serif;
  /* border-bottom: #611BE7 2px solid; */
  background-color: #ffffff;
  box-shadow: 0px 0px 10px;
}

#nav-brand {
  color: #1e827a;
  font-size: 1.6rem;
  font-family: "logotxt";
  font-weight: 800;
  font-style: bold;
}

#nav-toggle::after {
  border: none;
  border-color: #611be7;
}
#nav-toggle {
  border: none;
  border-color: #611be7;
}

#nav-link {
  color: #000000;
  filter: opacity(60%);
  font-size: 4vw;
}

#nav-link:focus {
  color: #1e827a;
}
#nav-link.dropdown-item.active{
  color: #ffffff;
  background-color: #1e827a;
}
#nav-link.dropdown-item:hover{
  color: #ffffff;
  background-color: #1e827a;
}
#nav-link:hover {
  color: #1e827a;
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #nav-link {
    font-size: 2vw;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #nav-link {
    font-size: 1.5vw;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  #nav-link {
    font-size: 2vw;
  }
  #nav-brand {
    font-size: 3.5vw;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 360px) {
  #nav-link {
    font-size: 3.5vw;
  }
  #nav-brand {
    font-size: 5vw;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  #nav-link {
    font-size: 1.5vw;
    padding-left: 1vw;
  }
  #nav-brand {
    font-size: 2.5vw;
  }
}
