.footer-block{
  font-family: "Roboto", sans-serif;
  background-color: #33312eff;
}

.Res-block {
  filter: opacity(60%);
  padding-top: 1rem;
  color: #ffffff;
}

.Own-block {
  filter: opacity(60%);
  padding-top: 1rem;
  color: #ffffff;
 
}


#res-name {
  font-family: "logotxt";
  font-size: 0.9rem;
  font-weight: 700;
  filter: opacity(87%);
}

#res-description {
  font-family: 'Roboto', sans-serif;
  font-size: 0.4rem;
  font-weight: 400;
  text-align: left;
  filter: opacity(60%);
}

#hr-rule {
  background: #fff;
  filter: opacity(87%);
}
#res-address{
  font-family:'Roboto', sans-serif;
  filter: opacity(87%);
  font-weight: 400;
}

#res-address,
#res-phone,
a {
  font-size: 0.6rem;
  text-align: left;
}

#customer-query {
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  font-weight: 600;
  filter: opacity(87%);
  text-align: left;
  color: white;
}

a:link {
  color: #ffffff;
}
a:link:hover {
  color: #1e827a;
  font-weight: 600;
}
#reserved {
  font-size: 0.7rem;
  text-align: center;
  color:#ffffff ;
  filter: opacity(38%);
  padding: 1rem;
}


.icon {
  color: white;
  filter: opacity(60%);
  font-size: 1rem;
}

.icon:hover {
  color: #1e827a;
  font-size: 1.6rem;
}



/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  #res-name {
    font-size: 1.5vw;
  }
  #res-description {
    font-size: 0.6rem;
  }
  #res-address,
  #res-phone,
  a {
    font-size: 1vw;
  }
  #customer-query {
    font-size: 1vw;
  }
  #reserved {
  font-size: 1rem;
}
.Own-block {
line-height: 2vw;
 
}

}
