#greet-block{
    position:initial;
    font-size: 2em;
   margin-top: 6rem;
  
   z-index: 1;
   
}

#quote1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    float: center;
    display: block;
    
    color: #eb4d4c;
    /* color: #eea151;
    color: #1e827a;
} */
}
#quote2{
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    font-weight: 800;
    text-align: center;
    line-height: 30px;
    float: center;
    color: #1e827a;
    text-transform: uppercase;
    margin-top:-20px ;
  
}


#rest-logo{
    position: initial;
    text-align: center;
    padding-bottom: 1rem;
}